<div class="container center">
    <h4>Login Form</h4>
    <br>
    <form action="/login">
      <div class="input-field">
        <i class="material-icons prefix">person</i>
        <input type="text" id="name">
        <label for="name">Username</label>
      </div>
      <br>
      <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <input type="password" id="pass">
        <label for="pass">Password</label>
      </div>
      <br>
      <input type="submit" value="Login" class="btn btn-large">
    </form>
  </div>
</div>