<p>New to this site? Go to the <a href="/auth/signup">sign up page</a> instead!</p>
<div class="row">
    <form class="col s12" method="POST" action="/auth/login">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Your first name" id="firstname" name="firstname" type="text" class="validate">
          <label for="firstname">First Name</label>
        </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Your last name" id="last name" name="last name" type="text" class="validate">
          <label for="last name">Last Name</label>
        </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Your email" id="email" name="email" type="text" class="validate">
          <label for="email">Email</label>
        </div>
      </div class="row">
        <div class="input-field col s12">
          <input placeholder="Your secret password" id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div class="row">
        <div class="input-field col s12">
          <input placeholder="verify password" id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button class="btn waves-effect waves-light right" type="submit">Submit
          <i class="material-icons right"></i></button>
        </div>
      </div>
    </div>
  </form>
</div>