<div class="center">
  <h1>Uh-Oh!</h1>

  <p>I was unable to locate that page!</p>

  <p>Please accept a cat picture as an apology!</p>

  <img src="http://placekitten.com/g/200/300" alt="Cat.Cat.Cat.">
</div>
