<div id='opening'>
  <p>Are the kids asking "Mom, what's for dinner?!" Let me guess... you have no idea.</p> 
  <p>Maybe you're trying out a new diet and need new ideas?</p>
  <p>Or maybe you just don't have time and you need something quick and easy that everyone will like</p>
  <p>No problem we've got you covered!</p>
</div>

<form>
  <input placeholder="search" class="search-bar">
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">one<span class="badge">1</span></a></li>
    <li><a href="#!">two<span class="new badge">1</span></a></li>
    <li><a href="#!">three</a></li>
  </ul>
  <a class="btn dropdown-trigger" href="#!" data-target="dropdown2">Dropdown<i class="material-icons right">arrow_drop_down</i></a>
  <button class="btn waves-effect waves-light right" type="submit">Submit</button>
</form>