<div class="center"id="opening">
  <p>Are the kids asking "Mom, what's for dinner?!" Let me guess... you have no idea.</p> 
  <p>Maybe you're trying out a new diet and need new ideas?</p>
  <p>Or maybe you just don't have time and you need something quick and easy that everyone will like</p>
  <p>No problem we've got you covered!</p>
</div>
<br>

<form method="GET" action="/recipes" id="submission">
<div class='row center'> 
<div class='row center search-area'>
        <div class="input-field col s12 m5 l5 center searchbox z-depth-3">
          <input id="search" class="z-depth-3" type="search" name='search' placeholder= "Search">
        </div>
		<select name='selectionbox' class="browser-default selectionbox col s12 m5 l5 z-depth-3">
			<option value="null" selected>Diet Options</option>
			<option value="dairy-free">Dairy-Free</option>
			<option value="egg-free">Egg-Free</option>
			<option value="gluten-free">Gluten-Free</option>
			<option value="kosher">Kosher</option>
			<option value="paleo">Paleo</option>
			<option value="peanut-free">Peanut-Free</option>
			<option value="pescatarian">Pescatarian</option>
			<option value="shellfish-free">Shellfish-Free</option>
			<option value="soy-free">Soy-Free</option>
			<option value="tree-nut-free">Tree Nut-Free</option>
			<option value="vegan">Vegan</option>
			<option value="vegatarian">Vegetarian</option>
			<option value="wheat-free">Wheat-Free</option>
		<div class="card-reveal">
		<span class="card-title red-text text-darken-4">Dietary Options<i class="material-icons right">close</i></span>
	</div>
  </div>
	</div>
</div>
		</select>
		<button type='submit' class='col s12 m2 l2 btn-large selectionbox waves-effect waves-light red darken-2 center submit-search-button z-depth-3'>Search!</button>
</div>
    </form>
	