<!DOCTYPE html>
<html>
<head>
  <title>Mom What's For Dinner?!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <% include ./partials/nav %>
  <div class="container">
    <% include ./partials/alerts %>
    <%- body %>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var instancesNav = M.Sidenav.init(document.querySelectorAll('.sidenav'))
      var instancesDate = M.Datepicker.init(document.querySelectorAll('.datepicker'), {
        autoClose: false,
        defaultDate: new Date('01/01/1990'),
        setDefaultDate: true,
        minDate: new Date('01/01/1920'),
        maxDate: new Date(),
        yearRange: 5
      })
    })
  </script>
</body>
</html>
