.closeable {
  cursor: pointer;
}

body {
  background: url('./images/color-diet-food-255501.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.brand-logo {
  text-align: center;
  font-family: 'Coming Soon', cursive;
}

#opening {
  background-color: rgba(255, 255, 255, 0.9);
  font-family: 'Coming Soon', cursive;
  font-size: 25px;
  width: 70%;
  height: 50%;
  border-radius: 8px;
  position: relative;
  margin: auto;
}
#submission {
  font-family: 'Coming Soon', cursive;
  font-size: 25px;
  height: 100px;
  width: 100%;
  border-radius: 8px;
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;
}

#selection {
  font-family: 'Coming Soon', cursive;
  font-size: 25px;
  height: 10%;
  width: 40%;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
  padding: 5px;
}

#search {
  background-color: rgba(255, 255, 255, 0.9);
  font-family: 'Coming Soon', cursive;
  position: relative;
  font-size: 25px;
  width: 90%;
  height: 10%;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
}

#search-button {
  background-color: rgba(255, 255, 255, 0.9);
  font-family: 'Coming Soon', cursive;
  position: relative;
  font-size: 20px;
  width: 15%;
  height: 10%;
  border-radius: 8px;
  margin-left: 20px;
  margin-top: -20px;
  text-align: center;
}
#log-in {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
}

#sign-up {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
}

#greeting {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    margin-top: 20px;
  }

.faves {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
}

#info {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
}

#delete-button {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  margin: 25px;
}

#edit-info {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin: 200px;
}



